$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$hero-text-color: #ffffff;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-bg-color: #ffffff;
$second-bg-color: #2f303a;
$third-bg-color: rgba(255, 255, 255, 1);
$forth-bg-color: #f5f4fa;
$line: #ececec;
$links: rgba(175, 177, 184, 1);
$bgc-links-footer: #44454e;
$bgc-icons-benefits: rgba(245, 244, 250, 1);
